@import "variables";


// styling for the input markdown panel
.input {
  // this extension is defined in _variables.scss
  // and is used here and in the outputPanel
  @extend %common;
  overflow: hidden;
  grid-area: i;
}

textarea {
  font-size: $textarea-font-size;
  width: (($main-container-width - $main-container-grid-gap - 2vw) / 2);
  height: $panel-height - 1.2vh;
  resize: none;
  border: none;
}

@mixin inputPanel--md() {

  .input {
    width: (($main-container-width-md - $main-container-grid-gap) / 2);
  }

  textarea {
    width: (($main-container-width-md - $main-container-grid-gap - 4vw) / 2);
    height: $panel-height - 1.2vh;
  }

}

@mixin inputPanel--sm() {

  .input {
    width: $main-container-width-sm;
    height: $panel-height;
  }

  textarea {
    width: ($main-container-width-sm - 7vw);
    height: $panel-height - 1.2vh;
  }

}
