@import "variables";

.main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: $buttons-height $main-container-height;
  grid-column-gap: $main-container-grid-gap;
  grid-template-areas: "b b"
                       "i o";
  width: $main-container-width;
  height: $main-container-height;
  margin: 0 auto;
  //border: 2px solid red;          // temporary

}
