@import "variables";

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5vh 75vh;
  grid-column-gap: $main-container-grid-gap;
  width: $main-container-width;
  height: $main-container-height;
  margin: $main-container-top-margin auto 0 auto;
  //border: 2px solid red;          // temporary

}
