@import "variables";

.main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: $buttons-height $main-container-height;
  grid-column-gap: $main-container-grid-gap;
  grid-template-areas: "b b"
                       "i o";
  width: $main-container-width;
  height: $main-container-height;
  margin: 0 auto;
  //border: 2px solid red;          // temporary

}

@mixin main-container--md() {

  .main-container {
    width: $main-container-width-md;
    margin: $main-container-top-margin * 2 auto 0 auto;
  }

}

@mixin main-container--sm() {

  .main-container {
    width: $main-container-width-sm;
    height: $main-container-height;
    grid-template-columns: 1fr;
    grid-template-rows: $buttons-height $main-container-height-sm $main-container-height-sm;
    grid-template-areas: "b"
                         "i"
                         "o";
  }

}
