@import "variables";

// styling relating to the title bar
.title-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $title-bar-height;
  background-color: $title-bar-color;

  div {
    display: inline-block;
  }

  h1 {
    font-size: $title-font-size;
    color: $title-color;
  }
}

@media only screen and (max-width:1400px) {

  .title-bar {
    height: $title-bar-height-md;

    h1 {
      font-size: $title-font-size-md;
    }
  }


}

@media only screen and (max-width:600px) {

  .title-bar {
    height: $title-bar-height-sm;

    h1 {
      font-size: $title-font-size-sm;
    }
  }

}
