$title-bar-color: #333;
$title-bar-height: 3vw;
$title-color: lightgreen;
$title-font-size: 1.25vw;
$main-container-width: 60vw;
$main-container-height: 80vh;
$main-container-top-margin: 3vw;
$main-container-grid-gap: 0.5vw;
$label-height: 5vh;
$panel-height: $main-container-height - $label-height;
$label-text-left-margin: 10px;
$label-text-size: 1vw;
$textarea-font-size: 0.8vw;

%common {
  width: (($main-container-width - $main-container-grid-gap) / 2);
  height: $panel-height;
  background-color: #fff;
  border-radius: 3px;
  padding: 10px;
  overflow: hidden;
  border: 1px solid black;
}
