@import "variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ddd;
}

@import "title";

@import "main-container";

@import "buttons";

@import "inputPanel";

@import "outputPanel";

@import "media-queries";
