/* line 15, _variables.scss */
.input, .output {
  width: 29.75vw;
  height: 75vh;
  background-color: #fff;
  border-radius: 3px;
  padding: 10px;
  overflow: hidden;
  border: 1px solid black; }

/* line 3, markdown.scss */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* line 9, markdown.scss */
body {
  background-color: #ddd; }

/* line 15, _variables.scss */
.input, .output {
  width: 29.75vw;
  height: 75vh;
  background-color: #fff;
  border-radius: 3px;
  padding: 10px;
  overflow: hidden;
  border: 1px solid black; }

/* line 4, _title.scss */
.title-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3vw;
  background-color: #333; }
  /* line 11, _title.scss */
  .title-bar div {
    display: inline-block; }
  /* line 15, _title.scss */
  .title-bar h1 {
    font-size: 1.25vw;
    color: lightgreen; }

/* line 15, _variables.scss */
.input, .output {
  width: 29.75vw;
  height: 75vh;
  background-color: #fff;
  border-radius: 3px;
  padding: 10px;
  overflow: hidden;
  border: 1px solid black; }

/* line 3, _main-container.scss */
.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5vh 75vh;
  grid-column-gap: 0.5vw;
  width: 60vw;
  height: 80vh;
  margin: 3vw auto 0 auto; }

/* line 15, _variables.scss */
.input, .output {
  width: 29.75vw;
  height: 75vh;
  background-color: #fff;
  border-radius: 3px;
  padding: 10px;
  overflow: hidden;
  border: 1px solid black; }

/* line 3, _labels.scss */
.label-text {
  display: inline-block;
  font-size: 1vw;
  font-weight: bold;
  margin-left: 10px; }

/* line 10, _labels.scss */
button {
  font-size: 1vw;
  padding: 2px;
  border-radius: 3px;
  margin-right: 10px;
  background-color: lightgreen; }

/* line 18, _labels.scss */
.markdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 29.75vw;
  height: 5vh; }

/* line 26, _labels.scss */
.preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 29.75vw;
  height: 5vh; }

/* line 15, _variables.scss */
.input, .output {
  width: 29.75vw;
  height: 75vh;
  background-color: #fff;
  border-radius: 3px;
  padding: 10px;
  overflow: hidden;
  border: 1px solid black; }

/* line 11, _inputPanel.scss */
textarea {
  font-size: 1vw;
  width: 29.15vw;
  height: 73.8vh;
  resize: none;
  border: none; }

/* line 15, _variables.scss */
.input, .output {
  width: 29.75vw;
  height: 75vh;
  background-color: #fff;
  border-radius: 3px;
  padding: 10px;
  overflow: hidden;
  border: 1px solid black; }

/* line 3, _outputPanel.scss */
.output {
  overflow: auto; }
  /* line 1, _htmlStyles.scss */
  .output ul, .output ol {
    padding-left: 30px; }

/* line 12, _outputPanel.scss */
.wordwrap {
  white-space: pre-wrap;
  /* CSS3 */
  white-space: -moz-pre-wrap;
  /* Firefox */
  white-space: -pre-wrap;
  /* Opera <7 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* IE */ }

@media only screen and (max-width: 1400px) {
  /* For mobile phones: x 2 */
  /* line 30, markdown.scss */
  .label-text {
    font-size: 2vw; }

  /* line 35, markdown.scss */
  .main-container {
    width: 85vw;
    margin: 6vw auto 0 auto; }

  /* line 41, markdown.scss */
  .input {
    width: 42.25vw; }

  /* line 45, markdown.scss */
  textarea {
    font-size: 2vw;
    width: 41.65vw;
    height: 73.8vh; }

  /* line 52, markdown.scss */
  .output {
    width: 42.25vw; } }
@media only screen and (max-width: 600px) {
  /* For mobile phones: x 3.5 */
  /* line 64, markdown.scss */
  .main-container {
    width: 100vw;
    height: 50vh;
    grid-template-columns: 1fr;
    grid-template-rows: 50vh 50vh; }

  /* line 72, markdown.scss */
  .input {
    width: 100vw;
    height: 50vh; }

  /* line 77, markdown.scss */
  textarea {
    font-size: 3vw;
    width: 98.8vw;
    height: 48.8vh; }

  /* line 84, markdown.scss */
  .output {
    width: 100vw;
    height: 50vh; } }
/* styling for responsive design ends */
/*# sourceMappingURL=markdown.css.map */