@import "variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ddd;
}

@import "title";

@import "main-container";

@import "labels";

@import "inputPanel";

@import "outputPanel";


// styling for responsive design starts
@media only screen and (max-width:1400px) {
  /* For mobile phones: x 2 */
  $main-container-width: 85vw;
  $panel-height: $main-container-height - $label-height;

  .label-text {
    font-size: $label-text-size * 2;
  }

  // styles relating to the main container
  .main-container {
    width: $main-container-width;
    margin: $main-container-top-margin * 2 auto 0 auto;
  }

  // styling for input panel
  .input {
    width: (($main-container-width - $main-container-grid-gap) / 2);
  }

  textarea {
    font-size: $textarea-font-size * 2;
    width: (($main-container-width - $main-container-grid-gap - 1.2vw) / 2);
    height: $panel-height - 1.2vh;
  }

  // styling for output panel-height.output {
  .output{
    width: (($main-container-width - $main-container-grid-gap) / 2);
  }
}

@media only screen and (max-width:600px) {
  /* For mobile phones: x 3.5 */
  $main-container-width: 100vw;
  $main-container-height: 50vh;
  $panel-height: $main-container-height;

  // styles relating to the main container
  .main-container {
    width: $main-container-width;
    height: $main-container-height;
    grid-template-columns: 1fr;
    grid-template-rows: $main-container-height $main-container-height;
  }

  // styling for input panel
  .input {
    width: $main-container-width;
    height: $panel-height;
  }

  textarea {
    font-size: $textarea-font-size * 3;
    width: ($main-container-width - 1.2vw);
    height: $panel-height - 1.2vh;
  }

  // styling for output panel
  .output {
    width: $main-container-width;
    height: $main-container-height;
  }
}
/* styling for responsive design ends */
