.input, .output {
  width: 29.75vw;
  height: 60vh;
  background-color: #fff;
  border-radius: 3px;
  padding: 10px;
  border: 1px solid black; }

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background-color: #ddd; }

.input, .output {
  width: 29.75vw;
  height: 60vh;
  background-color: #fff;
  border-radius: 3px;
  padding: 10px;
  border: 1px solid black; }

.title-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3vw;
  background-color: #333; }
  .title-bar div {
    display: inline-block; }
  .title-bar h1 {
    font-size: 1.25vw;
    color: #add8e6; }

.input, .output {
  width: 29.75vw;
  height: 60vh;
  background-color: #fff;
  border-radius: 3px;
  padding: 10px;
  border: 1px solid black; }

.main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 70px 60vh;
  grid-column-gap: 0.5vw;
  grid-template-areas: "b b" "i o";
  width: 60vw;
  height: 60vh;
  margin: 0 auto; }

.input, .output {
  width: 29.75vw;
  height: 60vh;
  background-color: #fff;
  border-radius: 3px;
  padding: 10px;
  border: 1px solid black; }

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  grid-area: b;
  width: 60vw;
  height: 70px; }
  .buttons .welcome-btn button, .buttons .clear-btn button {
    width: 80px;
    background-color: #add8e6;
    font-size: 1em;
    padding: 0.3em;
    border-radius: 3px;
    margin: 10px 2px; }

.input, .output {
  width: 29.75vw;
  height: 60vh;
  background-color: #fff;
  border-radius: 3px;
  padding: 10px;
  border: 1px solid black; }

.input {
  overflow: hidden;
  grid-area: i; }

textarea {
  font-size: 16px;
  width: 28.75vw;
  height: 58.8vh;
  resize: none;
  border: none; }

.input, .output {
  width: 29.75vw;
  height: 60vh;
  background-color: #fff;
  border-radius: 3px;
  padding: 10px;
  border: 1px solid black; }

.output {
  overflow: auto;
  grid-area: o; }
  .output .input, .output .output {
    width: 29.75vw;
    height: 60vh;
    background-color: #fff;
    border-radius: 3px;
    padding: 10px;
    border: 1px solid black; }
  .output p {
    text-align: justify; }
  .output ul, .output ol {
    padding-left: 30px; }
  .output pre code {
    font-family: monospace;
    display: block;
    margin: 10px;
    padding: 10px;
    background-color: #ddd; }
  .output blockquote {
    font-size: 0.9em;
    font-style: italic;
    margin: 0 20px; }
  .output img {
    margin: 10px;
    max-width: 29.75vw; }

.wordwrap {
  white-space: pre-wrap;
  /* CSS3 */
  white-space: -moz-pre-wrap;
  /* Firefox */
  white-space: -pre-wrap;
  /* Opera <7 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* IE */ }

.input, .output {
  width: 29.75vw;
  height: 60vh;
  background-color: #fff;
  border-radius: 3px;
  padding: 10px;
  border: 1px solid black; }

@media only screen and (max-width: 1400px) {
  .title-bar {
    height: 4.8vw; }
    .title-bar h1 {
      font-size: 2vw; }

  .main-container {
    width: 85vw;
    margin: 6vw auto 0 auto; }

  .input {
    width: 42.25vw; }

  textarea {
    width: 40.25vw;
    height: 58.8vh; }

  .output {
    width: 42.25vw; } }
@media only screen and (max-width: 600px) {
  .title-bar {
    height: 9vw; }
    .title-bar h1 {
      font-size: 3.75vw; }

  .main-container {
    width: 100vw;
    height: 60vh;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 60vh 60vh;
    grid-template-areas: "b" "i" "o"; }

  .input {
    width: 100vw;
    height: 60vh; }

  textarea {
    width: 93vw;
    height: 58.8vh; }

  .output {
    width: 100vw;
    height: 60vh; } }
/*# sourceMappingURL=markdown.css.map */