/* line 15, _variables.scss */
.main-container .input, .main-container .output {
  width: 29.75vw;
  height: 75vh;
  background-color: #fff;
  border-radius: 3px;
  padding: 10px;
  overflow: hidden;
  border: 1px solid black; }

/* line 3, markdown.scss */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* line 9, markdown.scss */
body {
  background-color: #ddd; }

/* line 15, _variables.scss */
.main-container .input, .main-container .output {
  width: 29.75vw;
  height: 75vh;
  background-color: #fff;
  border-radius: 3px;
  padding: 10px;
  overflow: hidden;
  border: 1px solid black; }

/* line 4, _title.scss */
.title-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3vw;
  background-color: #333; }
  /* line 11, _title.scss */
  .title-bar div {
    display: inline-block; }
  /* line 15, _title.scss */
  .title-bar h1 {
    font-size: 1.25vw;
    color: lightgreen; }

/* line 15, _variables.scss */
.main-container .input, .main-container .output {
  width: 29.75vw;
  height: 75vh;
  background-color: #fff;
  border-radius: 3px;
  padding: 10px;
  overflow: hidden;
  border: 1px solid black; }

/* line 3, _main-container.scss */
.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5vh 75vh;
  grid-column-gap: 0.5vw;
  width: 60vw;
  height: 80vh;
  margin: 3vw auto 0 auto; }
  /* line 15, _variables.scss */
  .main-container .input, .main-container .output {
    width: 29.75vw;
    height: 75vh;
    background-color: #fff;
    border-radius: 3px;
    padding: 10px;
    overflow: hidden;
    border: 1px solid black; }
  /* line 3, _labels.scss */
  .main-container .label-text {
    display: inline-block;
    font-size: 1vw;
    font-weight: bold;
    margin-left: 10px; }
  /* line 10, _labels.scss */
  .main-container .markdown, .main-container .preview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 29.75vw;
    height: 5vh; }
  /* line 15, _variables.scss */
  .main-container .input, .main-container .output {
    width: 29.75vw;
    height: 75vh;
    background-color: #fff;
    border-radius: 3px;
    padding: 10px;
    overflow: hidden;
    border: 1px solid black; }
  /* line 10, _inputPanel.scss */
  .main-container .input textarea {
    font-size: 0.8vw;
    width: 29.15vw;
    height: 73.8vh;
    resize: none;
    border: none; }
  /* line 15, _variables.scss */
  .main-container .input, .main-container .output {
    width: 29.75vw;
    height: 75vh;
    background-color: #fff;
    border-radius: 3px;
    padding: 10px;
    overflow: hidden;
    border: 1px solid black; }
  /* line 3, _outputPanel.scss */
  .main-container .output {
    overflow: auto; }
  /* line 10, _outputPanel.scss */
  .main-container .wordwrap {
    white-space: pre-wrap;
    /* CSS3 */
    white-space: -moz-pre-wrap;
    /* Firefox */
    white-space: -pre-wrap;
    /* Opera <7 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* IE */ }

@media only screen and (max-width: 1400px) {
  /* For mobile phones: x 1.5625 */
  /* line 25, _main-container.scss */
  .main-container {
    width: 85vw; }
    /* line 28, _main-container.scss */
    .main-container .input, .main-container .output {
      width: 42.25vw; } }
@media only screen and (max-width: 700px) {
  /* For mobile phones: x 3.125 */
  /* line 38, _main-container.scss */
  .main-container {
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: 75vh 75vh; }
    /* line 43, _main-container.scss */
    .main-container .input, .main-container .output {
      width: 100vw; } }
/* styling for responsive design ends */

/*# sourceMappingURL=markdown.css.map */